blinker==1.8.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
six==1.16.0
SQLAlchemy
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
passlib==1.7.4
fastapi==0.95.0
uvicorn==0.23.1
psycopg2-binary==2.9.10
bcrypt==4.0.1
sqlmodel==0.0.7
gunicorn
cryptography
langchain
langchain_groq 
langchain-community
openai
faiss-cpu
langgraph